<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registro de Ventas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>OPERADOR</th>
                        <th>VENDEDOR</th>
                        <th>VALOR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let VentaRecarga of VentaRecargas" class="text-center">
                        <td>{{VentaRecarga.id}}</td>
                        <td>{{VentaRecarga.operador}}</td>
                        <td>{{VentaRecarga.vendedor}}</td>
                        <td>{{VentaRecarga.valor}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>